body {
    background-color:  #ffb3ec
;

}
.thumbnail { 
    background-color: #ffb3ec;
    border:none;
}
.name {
    font-family:"Times New Roman";
    font-weight: bold;
    font-size: 400%;
}
.navbar {
    background-color: white;
    font-family: "Times New Roman";
    font-size:150%;
}
#home:hover {
    color: pink;
}
.active:focus {
    background-color:white;
}
#me {
    Color:white;
    font-family: "Times New Roman";
    font-size:150%;
}
#oh {
    color:white;
    font-size:300%;
    font-family: "Times New Roman";
}
#nyc{
    height: 300px;
    width: 300px;
}
#me{
    height: 300px;
    width: 300px;
}